@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: 'Poppins', sans-serif;
}

:root {
    --nocturne-purple: #572C5F;
    --nocturne-purple-light: #954DA2;
    --nocturne-purple-shadow: rgba(87, 44, 95, 0.5);

    --stellar-blue: #8B84D7;
    --stellar-blue-light: #A099EE;
    --stellar-blue-shadow: rgba(139, 132, 215, 0.5);

    --snow-white: #FFFFFF;
    --snow-white-light: #FFFFFF;
    --snow-white-shadow: rgba(255, 255, 255, 0.5);

    --lavanda: #BF9BDE;
    --lavanda-light: #D0ACF0;
    --lavanda-shadow: rgba(191, 155, 222, 0.5);

    --cotton-candy: #FCAEBB;
    --cotton-candy-light: #FDB8C3;
    --cotton-candy-shadow: rgba(252, 174, 187, 0.5);

    --sunshine-yellow: #F8E08E;
    --sunshine-yellow-light: #FFEAA4;
    --sunshine-yellow-shadow: rgba(248, 224, 142, 0.5);

    --gray: #777777;
    --gray-light: #AFAFAF;
    --gray-shadow: rgba(119, 119, 119, 0.5);

    --graphite-gray: #4B4B4B;
    --graphite-gray-light: #777777;
    --graphite-gray-shadow: rgba(75, 75, 75, 0.5);

    --cloud-gray: #AFAFAF;
    --cloud-gray-light: #E5E5E5;
    --cloud-gray-shadow: rgba(175, 175, 175, 0.5);

    --fog-gray: #E5E5E5;
    --fog-gray-light: #AFAFAF;
    --fog-gray-shadow: rgba(229, 229, 229, 0.5);
    
    --polar-gray: #F7F7F7;
    --polar-gray-light: #E5E5E5;
    --polar-gray-shadow: rgba(247, 247, 247, 0.5);
}

.color-nocturne-purple {color: var(--nocturne-purple);}
.color-stellar-blue {color: var(--stellar-blue);}
.color-snow-white {color: var(--snow-white);}
.color-lavanda {color: var(--lavanda);}
.color-cotton-candy {color: var(--cotton-candy);}
.color-sunshine-yellow {color: var(--sunshine-yellow);}
.color-gray {color: var(--gray);}
.color-graphite-gray {color: var(--graphite-gray);}
.color-cloud-gray {color: var(--cloud-gray);}
.color-fog-gray {color: var(--fog-gray);}
.color-polar-gray {color: var(--polar-gray);}

.bg-nocturne-purple {background-color: var(--nocturne-purple);}
.bg-stellar-blue {background-color: var(--stellar-blue);}
.bg-snow-white {background-color: var(--snow-white);}
.bg-lavanda {background-color: var(--lavanda);}
.bg-cotton-candy {background-color: var(--cotton-candy);}
.bg-sunshine-yellow {background-color: var(--sunshine-yellow);}
.bg-gray {background-color: var(--gray);}
.bg-graphite-gray {background-color: var(--graphite-gray);}
.bg-cloud-gray {background-color: var(--cloud-gray);}
.bg-fog-gray {background-color: var(--fog-gray);}
.bg-polar-gray {background-color: var(--polar-gray);}

.bg-nocturne-purple-stellar-blue-gradient {background: linear-gradient(90deg, var(--nocturne-purple), var(--stellar-blue));}
.bg-stellar-blue-nocturne-purple-gradient {background: linear-gradient(90deg, var(--stellar-blue), var(--nocturne-purple));}

.link-nocturne-purple {color: var(--nocturne-purple);text-decoration: none; cursor: pointer;}
.link-stellar-blue {color: var(--stellar-blue);text-decoration: none; cursor: pointer;}
.link-snow-white {color: var(--snow-white);text-decoration: none; cursor: pointer;}
.link-lavanda {color: var(--lavanda);text-decoration: none; cursor: pointer;}
.link-cotton-candy {color: var(--cotton-candy);text-decoration: none; cursor: pointer;}
.link-sunshine-yellow {color: var(--sunshine-yellow);text-decoration: none; cursor: pointer;}
.link-gray {color: var(--gray);text-decoration: none; cursor: pointer;}
.link-graphite-gray {color: var(--graphite-gray);text-decoration: none; cursor: pointer;}
.link-cloud-gray {color: var(--cloud-gray);text-decoration: none; cursor: pointer;}
.link-fog-gray {color: var(--fog-gray);text-decoration: none; cursor: pointer;}
.link-polar-gray {color: var(--polar-gray);text-decoration: none; cursor: pointer;}

.link-nocturne-purple:hover {color: var(--nocturne-purple-light);text-decoration: underline; cursor: pointer;}
.link-stellar-blue:hover {color: var(--stellar-blue-light);text-decoration: underline; cursor: pointer;}
.link-snow-white:hover {color: var(--snow-white-light);text-decoration: underline; cursor: pointer;}
.link-lavanda:hover {color: var(--lavanda-light);text-decoration: underline; cursor: pointer;}
.link-cotton-candy:hover {color: var(--cotton-candy-light);text-decoration: underline; cursor: pointer;}
.link-sunshine-yellow:hover {color: var(--sunshine-yellow-light);text-decoration: underline; cursor: pointer;}
.link-gray:hover {color: var(--gray-light);text-decoration: underline; cursor: pointer;}
.link-graphite-gray:hover {color: var(--graphite-gray-light);text-decoration: underline; cursor: pointer;}
.link-cloud-gray:hover {color: var(--cloud-gray-light);text-decoration: underline; cursor: pointer;}
.link-fog-gray:hover {color: var(--fog-gray-light);text-decoration: underline; cursor: pointer;}
.link-polar-gray:hover {color: var(--polar-gray-light);text-decoration: underline; cursor: pointer;}

.nav-link.link-nocturne-purple {transition: color .15s ease-in-out;}
.nav-link.link-stellar-blue {transition: color .15s ease-in-out;}
.nav-link.link-snow-white {transition: color .15s ease-in-out;}
.nav-link.link-lavanda {transition: color .15s ease-in-out;}
.nav-link.link-cotton-candy {transition: color .15s ease-in-out;}
.nav-link.link-sunshine-yellow {transition: color .15s ease-in-out;}
.nav-link.link-gray {transition: color .15s ease-in-out;}
.nav-link.link-graphite-gray {transition: color .15s ease-in-out;}
.nav-link.link-cloud-gray {transition: color .15s ease-in-out;}
.nav-link.link-fog-gray {transition: color .15s ease-in-out;}
.nav-link.link-polar-gray {transition: color .15s ease-in-out;}

.nav-link.link-nocturne-purple:hover {color: var(--nocturne-purple-light); text-decoration: none;}
.nav-link.link-stellar-blue:hover {color: var(--stellar-blue-light); text-decoration: none;}
.nav-link.link-snow-white:hover {color: var(--snow-white-light); text-decoration: none;}
.nav-link.link-lavanda:hover {color: var(--lavanda-light); text-decoration: none;}
.nav-link.link-cotton-candy:hover {color: var(--cotton-candy-light); text-decoration: none;}
.nav-link.link-sunshine-yellow:hover {color: var(--sunshine-yellow-light); text-decoration: none;}
.nav-link.link-gray:hover {color: var(--gray-light); text-decoration: none;}
.nav-link.link-graphite-gray:hover {color: var(--graphite-gray-light); text-decoration: none;}
.nav-link.link-cloud-gray:hover {color: var(--cloud-gray-light); text-decoration: none;}
.nav-link.link-fog-gray:hover {color: var(--fog-gray-light); text-decoration: none;}

.page-link.nocturne-purple {color: var(--nocturne-purple);}
.page-link.stellar-blue {color: var(--stellar-blue);}
.page-link.snow-white {color: var(--snow-white);}
.page-link.lavanda {color: var(--lavanda);}
.page-link.cotton-candy {color: var(--cotton-candy);}
.page-link.sunshine-yellow {color: var(--sunshine-yellow);}
.page-link.gray {color: var(--gray);}
.page-link.graphite-gray {color: var(--graphite-gray);}
.page-link.cloud-gray {color: var(--cloud-gray);}
.page-link.fog-gray {color: var(--fog-gray);}
.page-link.polar-gray {color: var(--polar-gray);}

.active>.page-link.nocturne-purple {color: #FFFFFF;background-color: var(--nocturne-purple);border-color: var(--nocturne-purple);}
.active>.page-link.stellar-blue {color: #FFFFFF;background-color: var(--stellar-blue);border-color: var(--stellar-blue);}
.active>.page-link.snow-white {color: #FFFFFF;background-color: var(--snow-white);border-color: var(--snow-white);}
.active>.page-link.lavanda {color: #FFFFFF;background-color: var(--lavanda);border-color: var(--lavanda);}
.active>.page-link.cotton-candy {color: #FFFFFF;background-color: var(--cotton-candy);border-color: var(--cotton-candy);}
.active>.page-link.sunshine-yellow {color: #333333;background-color: var(--sunshine-yellow);border-color: var(--sunshine-yellow);}
.active>.page-link.gray {color: #FFFFFF;background-color: var(--gray);border-color: var(--gray);}
.active>.page-link.graphite-gray {color: #FFFFFF;background-color: var(--graphite-gray);border-color: var(--graphite-gray);}
.active>.page-link.cloud-gray {color: #FFFFFF;background-color: var(--cloud-gray);border-color: var(--cloud-gray);}
.active>.page-link.fog-gray {color: #333333;background-color: var(--fog-gray);border-color: var(--fog-gray);}
.active>.page-link.polar-gray {color: #000000;background-color: var(--polar-gray);border-color: var(--polar-gray);}

.page-link.nocturne-purple:focus, .page-link.nocturne-purple:active {box-shadow: 0 0 0 .2rem var(--nocturne-purple-shadow);}
.page-link.stellar-blue:focus, .page-link.stellar-blue:active {box-shadow: 0 0 0 .2rem var(--stellar-blue-shadow);}
.page-link.snow-white:focus, .page-link.snow-white:active {box-shadow: 0 0 0 .2rem var(--snow-white-shadow);}
.page-link.lavanda:focus, .page-link.lavanda:active {box-shadow: 0 0 0 .2rem var(--lavanda-shadow);}
.page-link.cotton-candy:focus, .page-link.cotton-candy:active {box-shadow: 0 0 0 .2rem var(--cotton-candy-shadow);}
.page-link.sunshine-yellow:focus, .page-link.sunshine-yellow:active {box-shadow: 0 0 0 .2rem var(--sunshine-yellow-shadow);}
.page-link.gray:focus, .page-link.gray:active {box-shadow: 0 0 0 .2rem var(--gray-shadow);}
.page-link.graphite-gray:focus, .page-link.graphite-gray:active {box-shadow: 0 0 0 .2rem var(--graphite-gray-shadow);}
.page-link.cloud-gray:focus, .page-link.cloud-gray:active {box-shadow: 0 0 0 .2rem var(--cloud-gray-shadow);}
.page-link.fog-gray:focus, .page-link.fog-gray:active {box-shadow: 0 0 0 .2rem var(--fog-gray-shadow);}
.page-link.polar-gray:focus, .page-link.polar-gray:active {box-shadow: 0 0 0 .2rem var(--polar-gray-shadow);}

.input-nocturne-purple:focus {border-color: var(--nocturne-purple); box-shadow: 0 0 0 .25rem var(--nocturne-purple-shadow);}
.input-stellar-blue:focus {border-color: var(--stellar-blue); box-shadow: 0 0 0 .25rem var(--stellar-blue-shadow);}
.input-snow-white:focus {border-color: var(--snow-white); box-shadow: 0 0 0 .25rem var(--snow-white-shadow);}
.input-lavanda:focus {border-color: var(--lavanda); box-shadow: 0 0 0 .25rem var(--lavanda-shadow);}
.input-cotton-candy:focus {border-color: var(--cotton-candy); box-shadow: 0 0 0 .25rem var(--cotton-candy-shadow);}
.input-sunshine-yellow:focus {border-color: var(--sunshine-yellow); box-shadow: 0 0 0 .25rem var(--sunshine-yellow-shadow);}
.input-gray:focus {border-color: var(--gray); box-shadow: 0 0 0 .25rem var(--gray-shadow);}
.input-graphite-gray:focus {border-color: var(--graphite-gray); box-shadow: 0 0 0 .25rem var(--graphite-gray-shadow);}
.input-cloud-gray:focus {border-color: var(--cloud-gray); box-shadow: 0 0 0 .25rem var(--cloud-gray-shadow);}
.input-fog-gray:focus {border-color: var(--fog-gray); box-shadow: 0 0 0 .25rem var(--fog-gray-shadow);}
.input-polar-gray:focus {border-color: var(--polar-gray); box-shadow: 0 0 0 .25rem var(--polar-gray-shadow);}

.btn.btn-nocturne-purple {color: #FFFFFF; background-color: var(--nocturne-purple); border-color: var(--nocturne-purple);}
.btn.btn-stellar-blue {color: #FFFFFF; background-color: var(--stellar-blue); border-color: var(--stellar-blue);}
.btn.btn-snow-white {color: #FFFFFF; background-color: var(--snow-white); border-color: var(--snow-white);}
.btn.btn-lavanda {color: #FFFFFF; background-color: var(--lavanda); border-color: var(--lavanda);}
.btn.btn-cotton-candy {color: #FFFFFF; background-color: var(--cotton-candy); border-color: var(--cotton-candy);}
.btn.btn-sunshine-yellow {color: #333333; background-color: var(--sunshine-yellow); border-color: var(--sunshine-yellow);}
.btn.btn-gray {color: #FFFFFF; background-color: var(--gray); border-color: var(--gray);}
.btn.btn-graphite-gray {color: #FFFFFF; background-color: var(--graphite-gray); border-color: var(--graphite-gray);}
.btn.btn-cloud-gray {color: #FFFFFF; background-color: var(--cloud-gray); border-color: var(--cloud-gray);}
.btn.btn-fog-gray {color: #333333; background-color: var(--fog-gray); border-color: var(--fog-gray);}
.btn.btn-polar-gray {color: #000000; background-color: var(--polar-gray); border-color: var(--polar-gray);}

.btn.btn-nocturne-purple:hover {color: #FFFFFF; background-color: var(--nocturne-purple-light); border-color: var(--nocturne-purple-light);}
.btn.btn-stellar-blue:hover {color: #FFFFFF; background-color: var(--stellar-blue-light); border-color: var(--stellar-blue-light);}
.btn.btn-snow-white:hover {color: #FFFFFF; background-color: var(--snow-white-light); border-color: var(--snow-white-light);}
.btn.btn-lavanda:hover {color: #FFFFFF; background-color: var(--lavanda-light); border-color: var(--lavanda-light);}
.btn.btn-cotton-candy:hover {color: #FFFFFF; background-color: var(--cotton-candy-light); border-color: var(--cotton-candy-light);}
.btn.btn-sunshine-yellow:hover {color: #777777; background-color: var(--sunshine-yellow-light); border-color: var(--sunshine-yellow-light);}
.btn.btn-gray:hover {color: #FFFFFF; background-color: var(--gray-light); border-color: var(--gray-light);}
.btn.btn-graphite-gray:hover {color: #FFFFFF; background-color: var(--graphite-gray-light); border-color: var(--graphite-gray-light);}
.btn.btn-cloud-gray:hover {color: #000000; background-color: var(--cloud-gray-light); border-color: var(--cloud-gray-light);}
.btn.btn-fog-gray:hover {color: #111111; background-color: var(--fog-gray-light); border-color: var(--fog-gray-light);}
.btn.btn-polar-gray:hover {color: #000000; background-color: var(--polar-gray-light); border-color: var(--polar-gray-light);}

.btn.btn-nocturne-purple:active, .btn.btn-nocturne-purple:focus {box-shadow: 0 0 0 .2rem var(--nocturne-purple-shadow); color: #FFFFFF; background-color: var(--nocturne-purple); border-color: var(--nocturne-purple);}
.btn.btn-stellar-blue:active, .btn.btn-stellar-blue:focus {box-shadow: 0 0 0 .2rem var(--stellar-blue-shadow); color: #FFFFFF; background-color: var(--stellar-blue); border-color: var(--stellar-blue);}
.btn.btn-snow-white:active, .btn.btn-snow-white:focus {box-shadow: 0 0 0 .2rem var(--snow-white-shadow); color: #FFFFFF; background-color: var(--snow-white); border-color: var(--snow-white);}
.btn.btn-lavanda:active, .btn.btn-lavanda:focus {box-shadow: 0 0 0 .2rem var(--lavanda-shadow); color: #FFFFFF; background-color: var(--lavanda); border-color: var(--lavanda);}
.btn.btn-cotton-candy:active, .btn.btn-cotton-candy:focus {box-shadow: 0 0 0 .2rem var(--cotton-candy-shadow); color: #FFFFFF; background-color: var(--cotton-candy); border-color: var(--cotton-candy);}
.btn.btn-sunshine-yellow:active, .btn.btn-sunshine-yellow:focus {box-shadow: 0 0 0 .2rem var(--sunshine-yellow-shadow); color: #333333; background-color: var(--sunshine-yellow); border-color: var(--sunshine-yellow);}
.btn.btn-gray:active, .btn.btn-gray:focus {box-shadow: 0 0 0 .2rem var(--gray-shadow); color: #FFFFFF; background-color: var(--gray); border-color: var(--gray);}
.btn.btn-graphite-gray:active, .btn.btn-graphite-gray:focus {box-shadow: 0 0 0 .2rem var(--graphite-gray-shadow); color: #FFFFFF; background-color: var(--graphite-gray); border-color: var(--graphite-gray);}
.btn.btn-cloud-gray:active, .btn.btn-cloud-gray:focus {box-shadow: 0 0 0 .2rem var(--cloud-gray-shadow); color: #000000; background-color: var(--cloud-gray); border-color: var(--cloud-gray);}
.btn.btn-fog-gray:active, .btn.btn-fog-gray:focus {box-shadow: 0 0 0 .2rem var(--fog-gray-shadow); color: #333333; background-color: var(--fog-gray); border-color: var(--fog-gray);}
.btn.btn-polar-gray:active, .btn.btn-polar-gray:focus {box-shadow: 0 0 0 .2rem var(--polar-gray-shadow); color: #000000; background-color: var(--polar-gray); border-color: var(--polar-gray);}

.btn.btn-outline-nocturne-purple {color: var(--nocturne-purple); border-color: var(--nocturne-purple); background-color: transparent;}
.btn.btn-outline-stellar-blue {color: var(--stellar-blue); border-color: var(--stellar-blue); background-color: transparent;}
.btn.btn-outline-snow-white {color: var(--snow-white); border-color: var(--snow-white); background-color: transparent;}
.btn.btn-outline-lavanda {color: var(--lavanda); border-color: var(--lavanda); background-color: transparent;}
.btn.btn-outline-cotton-candy {color: var(--cotton-candy); border-color: var(--cotton-candy); background-color: transparent;}
.btn.btn-outline-sunshine-yellow {color: var(--sunshine-yellow); border-color: var(--sunshine-yellow); background-color: transparent;}
.btn.btn-outline-gray {color: var(--gray); border-color: var(--gray); background-color: transparent;}
.btn.btn-outline-graphite-gray {color: var(--graphite-gray); border-color: var(--graphite-gray); background-color: transparent;}
.btn.btn-outline-cloud-gray {color: var(--cloud-gray); border-color: var(--cloud-gray); background-color: transparent;}
.btn.btn-outline-fog-gray {color: var(--fog-gray); border-color: var(--fog-gray); background-color: transparent;}
.btn.btn-outline-polar-gray {color: var(--polar-gray); border-color: var(--polar-gray); background-color: transparent;}

.btn.btn-outline-nocturne-purple:hover {color:#FFFFFF; background-color: var(--nocturne-purple); border-color: var(--nocturne-purple);}
.btn.btn-outline-stellar-blue:hover {color:#FFFFFF; background-color: var(--stellar-blue); border-color: var(--stellar-blue);}
.btn.btn-outline-snow-white:hover {color:#FFFFFF; background-color: var(--snow-white); border-color: var(--snow-white);}
.btn.btn-outline-lavanda:hover {color:#FFFFFF; background-color: var(--lavanda); border-color: var(--lavanda);}
.btn.btn-outline-cotton-candy:hover {color:#FFFFFF; background-color: var(--cotton-candy); border-color: var(--cotton-candy);}
.btn.btn-outline-sunshine-yellow:hover {color:#FFFFFF; background-color: var(--sunshine-yellow); border-color: var(--sunshine-yellow);}
.btn.btn-outline-gray:hover {color:#FFFFFF; background-color: var(--gray); border-color: var(--gray);}
.btn.btn-outline-graphite-gray:hover {color:#FFFFFF; background-color: var(--graphite-gray); border-color: var(--graphite-gray);}
.btn.btn-outline-cloud-gray:hover {color:#FFFFFF; background-color: var(--cloud-gray); border-color: var(--cloud-gray);}
.btn.btn-outline-fog-gray:hover {color:#111111; background-color: var(--fog-gray); border-color: var(--fog-gray);}
.btn.btn-outline-polar-gray:hover {color:#000000; background-color: var(--polar-gray); border-color: var(--polar-gray);}

.btn.btn-outline-nocturne-purple:active, .btn.btn-outline-nocturne-purple:focus {box-shadow: 0 0 0 .2rem var(--nocturne-purple-shadow); border-color: var(--nocturne-purple);}
.btn.btn-outline-stellar-blue:active, .btn.btn-outline-stellar-blue:focus {box-shadow: 0 0 0 .2rem var(--stellar-blue-shadow); border-color: var(--stellar-blue);}
.btn.btn-outline-snow-white:active, .btn.btn-outline-snow-white:focus {box-shadow: 0 0 0 .2rem var(--snow-white-shadow); border-color: var(--snow-white);}
.btn.btn-outline-lavanda:active, .btn.btn-outline-lavanda:focus {box-shadow: 0 0 0 .2rem var(--lavanda-shadow); border-color: var(--lavanda);}
.btn.btn-outline-cotton-candy:active, .btn.btn-outline-cotton-candy:focus {box-shadow: 0 0 0 .2rem var(--cotton-candy-shadow); border-color: var(--cotton-candy);}
.btn.btn-outline-sunshine-yellow:active, .btn.btn-outline-sunshine-yellow:focus {box-shadow: 0 0 0 .2rem var(--sunshine-yellow-shadow); border-color: var(--sunshine-yellow);}
.btn.btn-outline-gray:active, .btn.btn-outline-gray:focus {box-shadow: 0 0 0 .2rem var(--gray-shadow); border-color: var(--gray);}
.btn.btn-outline-graphite-gray:active, .btn.btn-outline-graphite-gray:focus {box-shadow: 0 0 0 .2rem var(--graphite-gray-shadow); border-color: var(--graphite-gray);}
.btn.btn-outline-cloud-gray:active, .btn.btn-outline-cloud-gray:focus {box-shadow: 0 0 0 .2rem var(--cloud-gray-shadow); border-color: var(--cloud-gray);}
.btn.btn-outline-fog-gray:active, .btn.btn-outline-fog-gray:focus {box-shadow: 0 0 0 .2rem var(--fog-gray-shadow); border-color: var(--fog-gray);}
.btn.btn-outline-polar-gray:active, .btn.btn-outline-polar-gray:focus {box-shadow: 0 0 0 .2rem var(--polar-gray-shadow); border-color: var(--polar-gray);}

.form-check-input.check-nocturne-purple:checked {background-color: var(--nocturne-purple); border-color: var(--nocturne-purple);}
.form-check-input.check-stellar-blue:checked {background-color: var(--stellar-blue); border-color: var(--stellar-blue);}
.form-check-input.check-snow-white:checked {background-color: var(--snow-white); border-color: var(--snow-white);}
.form-check-input.check-lavanda:checked {background-color: var(--lavanda); border-color: var(--lavanda);}
.form-check-input.check-cotton-candy:checked {background-color: var(--cotton-candy); border-color: var(--cotton-candy);}
.form-check-input.check-sunshine-yellow:checked {background-color: var(--sunshine-yellow); border-color: var(--sunshine-yellow);}
.form-check-input.check-gray:checked {background-color: var(--gray); border-color: var(--gray);}
.form-check-input.check-graphite-gray:checked {background-color: var(--graphite-gray); border-color: var(--graphite-gray);}
.form-check-input.check-cloud-gray:checked {background-color: var(--cloud-gray); border-color: var(--cloud-gray);}
.form-check-input.check-fog-gray:checked {background-color: var(--fog-gray); border-color: var(--fog-gray);}
.form-check-input.check-polar-gray:checked {background-color: var(--polar-gray); border-color: var(--polar-gray);}

.form-check-input.check-nocturne-purple:focus {box-shadow: 0 0 0 .2rem var(--nocturne-purple-shadow); border-color: var(--nocturne-purple);}
.form-check-input.check-stellar-blue:focus {box-shadow: 0 0 0 .2rem var(--stellar-blue-shadow); border-color: var(--stellar-blue);}
.form-check-input.check-snow-white:focus {box-shadow: 0 0 0 .2rem var(--snow-white-shadow); border-color: var(--snow-white);}
.form-check-input.check-lavanda:focus {box-shadow: 0 0 0 .2rem var(--lavanda-shadow); border-color: var(--lavanda);}
.form-check-input.check-cotton-candy:focus {box-shadow: 0 0 0 .2rem var(--cotton-candy-shadow); border-color: var(--cotton-candy);}
.form-check-input.check-sunshine-yellow:focus {box-shadow: 0 0 0 .2rem var(--sunshine-yellow-shadow); border-color: var(--sunshine-yellow);}
.form-check-input.check-gray:focus {box-shadow: 0 0 0 .2rem var(--gray-shadow); border-color: var(--gray);}
.form-check-input.check-graphite-gray:focus {box-shadow: 0 0 0 .2rem var(--graphite-gray-shadow); border-color: var(--graphite-gray);}
.form-check-input.check-cloud-gray:focus {box-shadow: 0 0 0 .2rem var(--cloud-gray-shadow); border-color: var(--cloud-gray);}
.form-check-input.check-fog-gray:focus {box-shadow: 0 0 0 .2rem var(--fog-gray-shadow); border-color: var(--fog-gray);}
.form-check-input.check-polar-gray:focus {box-shadow: 0 0 0 .2rem var(--polar-gray-shadow); border-color: var(--polar-gray);}

.icone-sidebar {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--nocturne-purple);
    transition: background-color .15s ease-in-out;
    mask-repeat: no-repeat;
}

.nav-link:hover .icone-sidebar {background-color: var(--cloud-gray); transition: background-color .15s ease-in-out;}

.icone-sair {mask-image: url("/assets/icons/Sair.svg");}
.icone-config {mask-image: url("/assets/icons/Config.svg");}
.icone-estatisticas {mask-image: url("/assets/icons/Estatisticas.svg");}
.icone-extrato {mask-image: url("/assets/icons/Extrato de Vendas.svg");}
.icone-loja {mask-image: url("/assets/icons/Loja.svg");}
.icone-meus-eventos {mask-image: url("/assets/icons/Meus Eventos.svg");}


.bg-none {background-color: transparent !important;}
.text-decoration-none {text-decoration: none !important;}
.text-decoration-none:hover {text-decoration: none !important;}

.link-hover {
    transition: color .15s ease-in-out;
}
.link-hover:hover, .link-hover:focus {
    color: #c3c3c3 !important;
}

.pesquisa-superior {
    transition: width 0.3s ease-in-out;
    width: 200px; /* Largura inicial */
}

.pesquisa-superior:hover {
    width: 300px; /* Largura ao passar o mouse */
}

.midias-sociais a {
    text-decoration: unset;
}

/* body {
    min-height: 100vh;
} */

.footer-center {
    position: absolute;
    display: inline-block;
    right: 0;
    left: 0;
}

.footer-left, .footer-right {
    z-index: 1;
}

.gb-link {
    color:#0000FF;
    text-decoration: none;
    padding: 0 5px 0 5px;
}

.gb-link:hover {
    background-color: rgba(32, 87, 208, 0.1);
    text-decoration: none;
    border-radius: 25px;
}

.minimum-height {
    min-height: 100vh;
}

.avoid-navbar {
    margin-top: 70px;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .offcanvas.offcanvas-end {
        width: 100%;
    }
}

@media (max-width: 991px) {

    .footer-center {
        position: relative;
        display: inline-block;
        right: auto;
        left: auto;
        margin: 5px 0 10px 0;
    }

}

.logo-artistar {
    aspect-ratio: 3000 / 1168;
}

.store-logo {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.toast-success {
    position: fixed;
    z-index: 1030;
    top: 70px;
    right: 0;
}

.cor-tooltip .tooltip-inner {
    background-color: var(--gray);
    color: white; /* Text color */
}

.cor-tooltip.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
    border-right-color: var(--gray); /* Arrow color */
}

.cor-tooltip.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    border-top-color: var(--gray); /* Arrow color */
}

.cor-tooltip.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
    border-left-color: var(--gray); /* Arrow color */
}

.cor-tooltip.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
    border-bottom-color: var(--gray); /* Arrow color */
}

/* Animate the chevron icon inside the trigger when collapsed/expanded */
.item-parcerias .fa-chevron-down {
    display: inline-block; /* allow transform to apply */
    transition: transform 0.3s ease;
}

/* When the trigger has aria-expanded="true", rotate the chevron */
.item-parcerias[aria-expanded="true"] .fa-chevron-down {
    transform: rotate(180deg);
}

/* Ensure the card body flexes to fill the card */
.lista-eventos .card-body {
    display: flex;
    flex-direction: column;
    height: 115px;
    transition: height 0.3s ease-in-out;
}

/* Make the card text expand to fill the available space */
.lista-eventos .card-text {
    flex-grow: 1;
    height: 50px;
    text-align: justify;
}
.lista-eventos .card-img-top {
    height: 150px;
    object-fit: cover; /* This will ensure the image covers the area without distorting its aspect ratio */
    width: 100%; /* Ensure the image covers the full width of the card */
    transition: height 0.3s ease-in-out;
}

.lista-eventos .descricao-evento {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.lista-eventos .image-overlay {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
    font-size: 0.9em;
    text-align: center;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    width: 93px;
    word-spacing: 5px;
}

.lista-eventos .image-overlay:hover {
    width: 200px;
}

.lista-eventos .evento {
    cursor: pointer;
    text-decoration: none;
}


.lista-eventos .evento:hover > .card > .card-img-top {
    height: 0;
}

.lista-eventos .evento:hover > .card > .card-body {
    height: 265px;
}

.lista-eventos .evento:hover > .card > .card-body > .descricao-evento {
    -webkit-line-clamp: 8;
}

.lista-eventos .evento > .card  {
    /* transform: scale(1); */
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: none;
}

.lista-eventos .evento:hover > .card  {
    /* transform: scale(1.1); */
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.lista-eventos .page-item.active > .page-link.link-kitlit-2 {
    background-color: #9C5EF2;
    border-color: #9C5EF2;
    color: white !important;
}

.lista-eventos .search-wrapper {
    position: relative;
}
.lista-eventos .search-wrapper input {
    padding-right: 2.5rem; /* Espaço para o ícone */
}
.lista-eventos .search-wrapper .fa-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    cursor: pointer;
}

.lista-eventos .icon-filter {
    cursor: pointer;
}
.lista-eventos .offcanvas-filter {
    transition: max-height .4s ease-in-out;
    overflow: hidden;
    max-height: 0;
}
.lista-eventos .offcanvas-filter.show {
    max-height: 500px; /* Ajuste conforme necessário */
}

.card-hover {
    transition: all 0.2s ease-in-out;
}
.card-hover:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    /* transform: translateY(-2px); */
}

.toast-sucesso {
    position: fixed;
    z-index: 1030;
    top: 70px;
    right: 0;
}