.color-rockme-1 { color: #400094 !important; }
.color-rockme-2 { color: #A159FF !important; }
.color-rockme-3 { color: #8138E0 !important; }
.color-rockme-4 { color: #F2ED0C !important; }
.color-rockme-5 { color: #E0DD46 !important; }

/* .color-ttv { color: #9147ff !important; }

.bg-ttv { background-color: #9147ff !important; }

.btn-ttv {
    color: #fff !important;
    background-color: #9147ff !important;
    border-color: #9147ff !important;
} */

.bg-rockme-1 { background-color: #400094 !important; }
.bg-rockme-2 { background-color: #A159FF !important; }
.bg-rockme-3 { background-color: #8138E0 !important; }
.bg-rockme-4 { background-color: #F2ED0C !important; }
.bg-rockme-5 { background-color: #E0DD46 !important; }

.color-klikit-1 { color: #6D0FF2 !important; }
.color-klikit-2 { color: #9C5EF2 !important; }
.color-klikit-3 { color: #C4A2F2 !important; }
.color-klikit-4 { color: #5005F2 !important; }
.color-klikit-5 { color: #F2F2F2 !important; }

.bg-klikit-1 { background-color: #6D0FF2 !important; }
.bg-klikit-2 { background-color: #9C5EF2 !important; }
.bg-klikit-3 { background-color: #C4A2F2 !important; }
.bg-klikit-4 { background-color: #5005F2 !important; }
.bg-klikit-5 { background-color: #F2F2F2 !important; }

.btn-kiklit-1 {
    color: #fff !important;
    background-color: #6D0FF2 !important;
    border-color: #6D0FF2 !important;
}

.btn-kiklit-1:hover {
    color: #fff !important;
    background-color: #9C5EF2 !important;
    border-color: #9C5EF2 !important;
}

.btn-outline-kiklit-1 {
    color: #6D0FF2 !important;
    background-color: transparent !important;
    border-color: #6D0FF2 !important;
}

.btn-outline-kiklit-1:hover {
    color: #fff !important;
    background-color: #6D0FF2 !important;
    border-color: #6D0FF2 !important;
}

.btn-kiklit-2 {
    color: #fff !important;
    background-color: #9C5EF2 !important;
    border-color: #9C5EF2 !important;
}

.btn-kiklit-2:hover {
    color: #fff !important;
    background-color: #C4A2F2 !important;
    border-color: #C4A2F2 !important;
}

.btn-outline-kiklit-2 {
    color: #9C5EF2 !important;
    background-color: transparent !important;
    border-color: #9C5EF2 !important;
}

.btn-outline-kiklit-2:hover {
    color: #fff !important;
    background-color: #9C5EF2 !important;
    border-color: #9C5EF2 !important;
}

.btn-kiklit-3 {
    color: #fff !important;
    background-color: #C4A2F2 !important;
    border-color: #C4A2F2 !important;
}

.btn-kiklit-3:hover {
    color: #fff !important;
    background-color: #5005F2 !important;
    border-color: #5005F2 !important;
}

.btn-outline-kiklit-3 {
    color: #C4A2F2 !important;
    background-color: transparent !important;
    border-color: #C4A2F2 !important;
}

.btn-outline-kiklit-3:hover {
    color: #fff !important;
    background-color: #C4A2F2 !important;
    border-color: #C4A2F2 !important;
}

.btn-kiklit-4 {
    color: #fff !important;
    background-color: #5005F2 !important;
    border-color: #5005F2 !important;
}

.btn-kiklit-4:hover {
    color: #fff !important;
    background-color: #F2F2F2 !important;
    border-color: #F2F2F2 !important;
}

.btn-outline-kiklit-4 {
    color: #5005F2 !important;
    background-color: transparent !important;
    border-color: #5005F2 !important;
}

.btn-outline-kiklit-4:hover {
    color: #fff !important;
    background-color: #5005F2 !important;
    border-color: #5005F2 !important;
}

.btn-kiklit-5 {
    color: #fff !important;
    background-color: #F2F2F2 !important;
    border-color: #F2F2F2 !important;
}

.btn-kiklit-5:hover {
    color: #fff !important;
    background-color: #6D0FF2 !important;
    border-color: #6D0FF2 !important;
}

.btn-outline-kiklit-5 {
    color: #F2F2F2 !important;
    background-color: transparent !important;
    border-color: #F2F2F2 !important;
}	

.btn-outline-kiklit-5:hover {
    color: #5005F2 !important;
    background-color: #F2F2F2 !important;
    border-color: #F2F2F2 !important;
}

.link-kitlit-1 {
    color: #6D0FF2 !important;
    text-decoration: none;
    transition: color .15s ease-in-out;
}

.link-kitlit-1:hover {
    color: #9C5EF2 !important;
}

.link-kitlit-2 {
    color: #9C5EF2 !important;
    text-decoration: none;
    transition: color .15s ease-in-out;
}

.link-kitlit-2:hover {
    color: #C4A2F2 !important;
}

.link-kitlit-3 {
    color: #C4A2F2 !important;
    text-decoration: none;
    transition: color .15s ease-in-out;
}

.link-kitlit-3:hover {
    color: #5005F2 !important;
}

.link-kitlit-4 {
    color: #5005F2 !important;
    text-decoration: none;
    transition: color .15s ease-in-out;
}

.link-kitlit-4:hover {
    color: #F2F2F2 !important;
}

.link-kitlit-5 {
    color: #F2F2F2 !important;
    text-decoration: none;
    transition: color .15s ease-in-out;
}

.link-kitlit-5:hover {
    color: #6D0FF2 !important;
}

.checkbox-kiklit-1:checked {
    color: #fff !important;
    background-color: #6D0FF2 !important;
    border-color: #6D0FF2 !important;
}

.checkbox-kiklit-1:focus {
    border-color: #6D0FF2 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.checkbox-kiklit-2:checked {
    color: #fff !important;
    background-color: #9C5EF2 !important;
    border-color: #9C5EF2 !important;
}

.checkbox-kiklit-2:focus {
    border-color: #9C5EF2 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.checkbox-kiklit-3:checked {
    color: #fff !important;
    background-color: #C4A2F2 !important;
    border-color: #C4A2F2 !important;
}

.checkbox-kiklit-3:focus {
    border-color: #C4A2F2 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.checkbox-kiklit-4:checked {
    color: #fff !important;
    background-color: #5005F2 !important;
    border-color: #5005F2 !important;
}

.checkbox-kiklit-4:focus {
    border-color: #5005F2 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.checkbox-kiklit-5:checked {
    color: #fff !important;
    background-color: #F2F2F2 !important;
    border-color: #F2F2F2 !important;
}

.checkbox-kiklit-5:focus {
    border-color: #F2F2F2 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.input-kiklit-1:focus {
    border-color: #6D0FF2 !important;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.input-kiklit-2:focus {
    border-color: #9C5EF2 !important;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.input-kiklit-3:focus {
    border-color: #C4A2F2 !important;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.input-kiklit-4:focus {
    border-color: #5005F2 !important;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.input-kiklit-5:focus {
    border-color: #F2F2F2 !important;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.color-btp-1 { color: #0000FF !important; }
.color-btp-2 { color: #2F00E8 !important; }
.color-btp-3 { color: #6500FF !important; }
.color-btp-4 { color: #8900E8 !important; }
.color-btp-5 { color: #CA00FF !important; }

.bg-btp-1 { background-color: #0000FF !important; }
.bg-btp-2 { background-color: #2F00E8 !important; }
.bg-btp-3 { background-color: #6500FF !important; }
.bg-btp-4 { background-color: #8900E8 !important; }
.bg-btp-5 { background-color: #CA00FF !important; }

.btn-btp-1 {
    color: #fff !important;
    background-color: #0000FF !important;
    border-color: #0000FF !important;
}

.btn-btp-1:hover {
    color: #fff !important;
    background-color: #2F00E8 !important;
    border-color: #2F00E8 !important;
}

.btn-btp-2 {
    color: #fff !important;
    background-color: #2F00E8 !important;
    border-color: #2F00E8 !important;
}

.btn-btp-2:hover {
    color: #fff !important;
    background-color: #6500FF !important;
    border-color: #6500FF !important;
}

.btn-btp-3 {
    color: #fff !important;
    background-color: #6500FF !important;
    border-color: #6500FF !important;
}

.btn-btp-3:hover {
    color: #fff !important;
    background-color: #8900E8 !important;
    border-color: #8900E8 !important;
}

.btn-btp-4 {
    color: #fff !important;
    background-color: #8900E8 !important;
    border-color: #8900E8 !important;
}

.btn-btp-4:hover {
    color: #fff !important;
    background-color: #CA00FF !important;
    border-color: #CA00FF !important;
}

.btn-btp-5 {
    color: #fff !important;
    background-color: #CA00FF !important;
    border-color: #CA00FF !important;
}

.btn-btp-5:hover {
    color: #fff !important;
    background-color: #0000FF !important;
    border-color: #0000FF !important;
}

.bg-kitlit-btp-gradient {
    background: linear-gradient(to bottom, #9C5EF2, #6500FF);
}

.bg-btp-kitlit-gradient {
    background: linear-gradient(to bottom, #6500FF, #9C5EF2);
}

.link-hover {
    transition: color .15s ease-in-out;
}
.link-hover:hover, .link-hover:focus {
    color: #c3c3c3 !important;
}

.pesquisa-superior {
    transition: width 0.3s ease-in-out;
    width: 200px; /* Largura inicial */
}

.pesquisa-superior:hover {
    width: 300px; /* Largura ao passar o mouse */
}

.midias-sociais a {
    text-decoration: unset;
}

/* body {
    min-height: 100vh;
} */

.footer-center {
    position: absolute;
    display: inline-block;
    right: 0;
    left: 0;
}

.footer-left, .footer-right {
    z-index: 1;
}

.gb-link {
    color:#0000FF;
    text-decoration: none;
    padding: 0 5px 0 5px;
}

.gb-link:hover {
    background-color: rgba(32, 87, 208, 0.1);
    text-decoration: none;
    
    border-radius: 25px;
}

.minimum-height {
    min-height: 100vh;
}

.avoid-navbar {
    margin-top: 70px;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .offcanvas.offcanvas-end {
        width: 100%;
    }
}

@media (max-width: 991px) {

    .footer-center {
        position: relative;
        display: inline-block;
        right: auto;
        left: auto;
        margin: 5px 0 10px 0;
    }

}

.color-nocturne-purple {color: #572C5F;}
.color-stellar-blue {color: #8B84D7}
.color-snow-white {color: #FFFFFF;}
.color-lavanda {color: #BF9BDE}
.color-cotton-candy {color: #FCAEBB}
.color-sunshine-yellow {color: #F8E08E;}
.color-gray {color: #777777;}
.color-graphite-gray {color: #4B4B4B;}
.color-cloud-gray {color: #AFAFAF;}
.color-fog-gray {color: #E5E5E5;}
.color-polar-gray {color: #F7F7F7;}


.bg-nocturne-purple {background-color: #572C5F;}
.bg-stellar-blue {background-color: #8B84D7}
.bg-snow-white {background-color: #FFFFFF;}
.bg-lavanda {background-color: #BF9BDE}
.bg-cotton-candy {background-color: #FCAEBB;}
.bg-sunshine-yellow {background-color: #F8E08E;}
.bg-gray {background-color: #777777;}
.bg-graphite-gray {background-color: #4B4B4B;}
.bg-cloud-gray {background-color: #AFAFAF;}
.bg-fog-gray {background-color: #E5E5E5;}
.bg-polar-gray {background-color: #F7F7F7;}


.link-nocturne-purple {color: #572C5F;text-decoration: none;}
.link-nocturne-purple:hover {color: #954DA2;text-decoration: underline;}
.link-stellar-blue {color: #8B84D7;text-decoration: none;}
.link-stellar-blue:hover {color: #A099EE;text-decoration: underline}
/* .link-snow-white {color: #FCAEBB;text-decoration: none;} */
.link-cotton-candy {color: #FCAEBB;text-decoration: none;}
.link-cotton-candy:hover {color: #FDB8C3;text-decoration: underline;}
.link-lavanda {color: #BF9BDE;text-decoration: none;}
.link-lavanda:hover {color: #D0ACF0;text-decoration: underline;}
.link-sunshine-yellow {color: #F8E08E;text-decoration: none;}
.link-sunshine-yellow:hover {color: #FFEAA4;text-decoration: underline;}
.link-gray {color: #777777;text-decoration: none;}
.link-gray:hover {color: #AFAFAF;text-decoration: underline;}
.link-graphite-gray {color: #4B4B4B;text-decoration: none;}
.link-graphite-gray:hover {color: #777777;text-decoration: underline;}
.link-cloud-gray {color: #AFAFAF;text-decoration: none;}
.link-cloud-gray:hover {color: #E5E5E5;text-decoration: underline;}
.link-fog-gray {color: #E5E5E5;text-decoration: none;}
.link-fog-gray:hover {color: #AFAFAF;text-decoration: underline;}
.link-polar-gray {color: #F7F7F7;text-decoration: none;}
.link-polar-gray:hover {color: #E5E5E5;text-decoration: underline;}

.input-nocturne-purple:focus {
    border-color: #572C5F;
    box-shadow: 0 0 0 .25rem rgba(87, 44, 95, .5);
}
.input-stellar-blue:focus {
    border-color: #8B84D7;
    box-shadow: 0 0 0 .25rem rgba(139, 132, 215, .5);
}
.input-snow-white:focus {
    border-color: #FFFFFF;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .5);
}
.input-lavanda:focus {
    border-color: #BF9BDE;
    box-shadow: 0 0 0 .25rem rgba(191, 155, 222, .5);
}
.input-cotton-candy:focus {
    border-color: #FCAEBB;
    box-shadow: 0 0 0 .25rem rgba(252, 174, 187, .5);
}
.input-sunshine-yellow:focus {
    border-color: #F8E08E;
    box-shadow: 0 0 0 .25rem rgba(248, 224, 142, .5);
}
.input-gray:focus {
    border-color: #777777;
    box-shadow: 0 0 0 .25rem rgba(119, 119, 119, .5);
}
.input-graphite-gray:focus {
    border-color: #4B4B4B;
    box-shadow: 0 0 0 .25rem rgba(75, 75, 75, .5);
}
.input-cloud-gray:focus {
    border-color: #AFAFAF;
    box-shadow: 0 0 0 .25rem rgba(175, 175, 175, .5);
}
.input-fog-gray:focus {
    border-color: #E5E5E5;
    box-shadow: 0 0 0 .25rem rgba(229, 229, 229, .5);
}
.input-polar-gray:focus {
    border-color: #F7F7F7;
    box-shadow: 0 0 0 .25rem rgba(247, 247, 247, .5);
}

.btn-nocturne-purple {
    color: #FFFFFF;
    background-color: #572C5F;
    border-color: #572C5F;
}
.btn-nocturne-purple:hover {
    color: #FFFFFF;
    background-color: #7A4B7A;
    border-color: #7A4B7A;
}
.btn-stellar-blue {
    color: #FFFFFF;
    background-color: #8B84D7;
    border-color: #8B84D7;
}
.btn-stellar-blue:hover {
    color: #FFFFFF;
    background-color: #A099EE;
    border-color: #A099EE;
}
.btn-snow-white {
    color: #FFFFFF;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.btn-snow-white:hover {
    color: #FFFFFF;
    background-color: #FCAEBB;
    border-color: #FCAEBB;
}
.btn-lavanda {
    color: #FFFFFF;
    background-color: #BF9BDE;
    border-color: #BF9BDE;
}
.btn-lavanda:hover {
    color: #FFFFFF;
    background-color: #D0ACF0;
    border-color: #D0ACF0;
}
.btn-cotton-candy {
    color: #FFFFFF;
    background-color: #FCAEBB;
    border-color: #FCAEBB;
}
.btn-cotton-candy:hover {
    color: #FFFFFF;
    background-color: #FDB8C3;
    border-color: #FDB8C3;
}
.btn-sunshine-yellow {
    color: #333333;
    background-color: #F8E08E;
    border-color: #F8E08E;
}
.btn-sunshine-yellow:hover {
    color: #777777;
    background-color: #FFEAA4;
    border-color: #FFEAA4;
}
.btn-gray {
    color: #FFFFFF;
    background-color: #777777;
    border-color: #777777;
}
.btn-gray:hover {
    color: #FFFFFF;
    background-color: #AFAFAF;
    border-color: #AFAFAF;
}
.btn-graphite-gray {
    color: #FFFFFF;
    background-color: #4B4B4B;
    border-color: #4B4B4B;
}
.btn-graphite-gray:hover {
    color: #FFFFFF;
    background-color: #777777;
    border-color: #777777;
}
.btn-cloud-gray {
    color: #000000;
    background-color: #AFAFAF;
    border-color: #AFAFAF;
}
.btn-cloud-gray:hover {
    color: #000000;
    background-color: #E5E5E5;
    border-color: #E5E5E5;
}
.btn-fog-gray {
    color: #333333;
    background-color: #E5E5E5;
    border-color: #E5E5E5;
}
.btn-fog-gray:hover {
    color: #111111;
    background-color: #AFAFAF;
    border-color: #AFAFAF;
}
.btn-polar-gray {
    color: #000000;
    background-color: #F7F7F7;
    border-color: #F7F7F7;
}
.btn-polar-gray:hover {
    color: #000000;
    background-color: #E5E5E5;
    border-color: #E5E5E5;
}
.btn-outline-nocturne-purple {
    color: #572C5F;
    background-color: transparent;
    border-color: #572C5F;
}
.btn-outline-nocturne-purple:hover {
    color: #FFFFFF;
    background-color: #572C5F;
    border-color: #572C5F;
}
.btn-outline-stellar-blue {
    color: #8B84D7;
    background-color: transparent;
    border-color: #8B84D7;
}
.btn-outline-stellar-blue:hover {
    color: #FFFFFF;
    background-color: #8B84D7;
    border-color: #8B84D7;
}
.btn-outline-lavanda {
    color: #BF9BDE;
    background-color: transparent;
    border-color: #BF9BDE;
}
.btn-outline-lavanda:hover {
    color: #FFFFFF;
    background-color: #BF9BDE;
    border-color: #BF9BDE;
}
.btn-outline-cotton-candy {
    color: #FCAEBB;
    background-color: transparent;
    border-color: #FCAEBB;
}
.btn-outline-cotton-candy:hover {
    color: #FFFFFF;
    background-color: #FCAEBB;
    border-color: #FCAEBB;
}
.btn-outline-sunshine-yellow {
    color: #F8E08E;
    background-color: transparent;
    border-color: #F8E08E;
}
.btn-outline-sunshine-yellow:hover {
    color: #FFFFFF;
    background-color: #F8E08E;
    border-color: #F8E08E;
}
.btn-outline-gray {
    color: #777777;
    background-color: transparent;
    border-color: #777777;
}
.btn-outline-gray:hover {
    color: #FFFFFF;
    background-color: #777777;
    border-color: #777777;
}
.btn-outline-graphite-gray {
    color: #4B4B4B;
    background-color: transparent;
    border-color: #4B4B4B;
}
.btn-outline-graphite-gray:hover {
    color: #FFFFFF;
    background-color: #4B4B4B;
    border-color: #4B4B4B;
}
.btn-outline-cloud-gray {
    color: #AFAFAF;
    background-color: transparent;
    border-color: #AFAFAF;
}
.btn-outline-cloud-gray:hover {
    color: #FFFFFF;
    background-color: #AFAFAF;
    border-color: #AFAFAF;
}
.btn-outline-fog-gray {
    color: #E5E5E5;
    background-color: transparent;
    border-color: #E5E5E5;
}
.btn-outline-fog-gray:hover {
    color: #FFFFFF;
    background-color: #E5E5E5;
    border-color: #E5E5E5;
}
.btn-outline-polar-gray {
    color: #F7F7F7;
    background-color: transparent;
    border-color: #F7F7F7;
}
.btn-outline-polar-gray:hover {
    color: #FFFFFF;
    background-color: #F7F7F7;
    border-color: #F7F7F7;
}

.logo-artistar {
    aspect-ratio: 3000 / 1168;
}

