.color-rockme-1 { color: #400094 !important; }
.color-rockme-2 { color: #A159FF !important; }
.color-rockme-3 { color: #8138E0 !important; }
.color-rockme-4 { color: #F2ED0C !important; }
.color-rockme-5 { color: #E0DD46 !important; }

/* .color-ttv { color: #9147ff !important; }

.bg-ttv { background-color: #9147ff !important; }

.btn-ttv {
    color: #fff !important;
    background-color: #9147ff !important;
    border-color: #9147ff !important;
} */

.bg-rockme-1 { background-color: #400094 !important; }
.bg-rockme-2 { background-color: #A159FF !important; }
.bg-rockme-3 { background-color: #8138E0 !important; }
.bg-rockme-4 { background-color: #F2ED0C !important; }
.bg-rockme-5 { background-color: #E0DD46 !important; }

.color-klikit-1 { color: #6D0FF2 !important; }
.color-klikit-2 { color: #9C5EF2 !important; }
.color-klikit-3 { color: #C4A2F2 !important; }
.color-klikit-4 { color: #5005F2 !important; }
.color-klikit-5 { color: #F2F2F2 !important; }

.bg-klikit-1 { background-color: #6D0FF2 !important; }
.bg-klikit-2 { background-color: #9C5EF2 !important; }
.bg-klikit-3 { background-color: #C4A2F2 !important; }
.bg-klikit-4 { background-color: #5005F2 !important; }
.bg-klikit-5 { background-color: #F2F2F2 !important; }

.btn-kiklit-1 {
    color: #fff !important;
    background-color: #6D0FF2 !important;
    border-color: #6D0FF2 !important;
}

.btn-kiklit-1:hover {
    color: #fff !important;
    background-color: #9C5EF2 !important;
    border-color: #9C5EF2 !important;
}

.btn-kiklit-2 {
    color: #fff !important;
    background-color: #9C5EF2 !important;
    border-color: #9C5EF2 !important;
}

.btn-kiklit-2:hover {
    color: #fff !important;
    background-color: #C4A2F2 !important;
    border-color: #C4A2F2 !important;
}

.btn-kiklit-3 {
    color: #fff !important;
    background-color: #C4A2F2 !important;
    border-color: #C4A2F2 !important;
}

.btn-kiklit-3:hover {
    color: #fff !important;
    background-color: #5005F2 !important;
    border-color: #5005F2 !important;
}

.btn-kiklit-4 {
    color: #fff !important;
    background-color: #5005F2 !important;
    border-color: #5005F2 !important;
}

.btn-kiklit-4:hover {
    color: #fff !important;
    background-color: #F2F2F2 !important;
    border-color: #F2F2F2 !important;
}

.btn-kiklit-5 {
    color: #fff !important;
    background-color: #F2F2F2 !important;
    border-color: #F2F2F2 !important;
}

.btn-kiklit-5:hover {
    color: #fff !important;
    background-color: #6D0FF2 !important;
    border-color: #6D0FF2 !important;
}

.link-kitlit-1 {
    color: #6D0FF2 !important;
    text-decoration: none;
    transition: color .15s ease-in-out;
}

.link-kitlit-1:hover {
    color: #9C5EF2 !important;
}

.link-kitlit-2 {
    color: #9C5EF2 !important;
    text-decoration: none;
    transition: color .15s ease-in-out;
}

.link-kitlit-2:hover {
    color: #C4A2F2 !important;
}

.link-kitlit-3 {
    color: #C4A2F2 !important;
    text-decoration: none;
    transition: color .15s ease-in-out;
}

.link-kitlit-3:hover {
    color: #5005F2 !important;
}

.link-kitlit-4 {
    color: #5005F2 !important;
    text-decoration: none;
    transition: color .15s ease-in-out;
}

.link-kitlit-4:hover {
    color: #F2F2F2 !important;
}

.link-kitlit-5 {
    color: #F2F2F2 !important;
    text-decoration: none;
    transition: color .15s ease-in-out;
}

.link-kitlit-5:hover {
    color: #6D0FF2 !important;
}

.checkbox-kiklit-1:checked {
    color: #fff !important;
    background-color: #6D0FF2 !important;
    border-color: #6D0FF2 !important;
}

.checkbox-kiklit-1:focus {
    border-color: #6D0FF2 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.checkbox-kiklit-2:checked {
    color: #fff !important;
    background-color: #9C5EF2 !important;
    border-color: #9C5EF2 !important;
}

.checkbox-kiklit-2:focus {
    border-color: #9C5EF2 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.checkbox-kiklit-3:checked {
    color: #fff !important;
    background-color: #C4A2F2 !important;
    border-color: #C4A2F2 !important;
}

.checkbox-kiklit-3:focus {
    border-color: #C4A2F2 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.checkbox-kiklit-4:checked {
    color: #fff !important;
    background-color: #5005F2 !important;
    border-color: #5005F2 !important;
}

.checkbox-kiklit-4:focus {
    border-color: #5005F2 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.checkbox-kiklit-5:checked {
    color: #fff !important;
    background-color: #F2F2F2 !important;
    border-color: #F2F2F2 !important;
}

.checkbox-kiklit-5:focus {
    border-color: #F2F2F2 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.input-kiklit-1:focus {
    border-color: #6D0FF2 !important;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.input-kiklit-2:focus {
    border-color: #9C5EF2 !important;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.input-kiklit-3:focus {
    border-color: #C4A2F2 !important;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.input-kiklit-4:focus {
    border-color: #5005F2 !important;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.input-kiklit-5:focus {
    border-color: #F2F2F2 !important;
    box-shadow: 0 0 0 .25rem rgba(159, 122, 255, .5);
}

.color-btp-1 { color: #0000FF !important; }
.color-btp-2 { color: #2F00E8 !important; }
.color-btp-3 { color: #6500FF !important; }
.color-btp-4 { color: #8900E8 !important; }
.color-btp-5 { color: #CA00FF !important; }

.bg-btp-1 { background-color: #0000FF !important; }
.bg-btp-2 { background-color: #2F00E8 !important; }
.bg-btp-3 { background-color: #6500FF !important; }
.bg-btp-4 { background-color: #8900E8 !important; }
.bg-btp-5 { background-color: #CA00FF !important; }

.btn-btp-1 {
    color: #fff !important;
    background-color: #0000FF !important;
    border-color: #0000FF !important;
}

.btn-btp-1:hover {
    color: #fff !important;
    background-color: #2F00E8 !important;
    border-color: #2F00E8 !important;
}

.btn-btp-2 {
    color: #fff !important;
    background-color: #2F00E8 !important;
    border-color: #2F00E8 !important;
}

.btn-btp-2:hover {
    color: #fff !important;
    background-color: #6500FF !important;
    border-color: #6500FF !important;
}

.btn-btp-3 {
    color: #fff !important;
    background-color: #6500FF !important;
    border-color: #6500FF !important;
}

.btn-btp-3:hover {
    color: #fff !important;
    background-color: #8900E8 !important;
    border-color: #8900E8 !important;
}

.btn-btp-4 {
    color: #fff !important;
    background-color: #8900E8 !important;
    border-color: #8900E8 !important;
}

.btn-btp-4:hover {
    color: #fff !important;
    background-color: #CA00FF !important;
    border-color: #CA00FF !important;
}

.btn-btp-5 {
    color: #fff !important;
    background-color: #CA00FF !important;
    border-color: #CA00FF !important;
}

.btn-btp-5:hover {
    color: #fff !important;
    background-color: #0000FF !important;
    border-color: #0000FF !important;
}

.bg-kitlit-btp-gradient {
    background: linear-gradient(to bottom, #9C5EF2, #6500FF);
}

.bg-btp-kitlit-gradient {
    background: linear-gradient(to bottom, #6500FF, #9C5EF2);
}

.link-hover {
    transition: color .15s ease-in-out;
}
.link-hover:hover, .link-hover:focus {
    color: #c3c3c3 !important;
}

.pesquisa-superior {
    transition: width 0.3s ease-in-out;
    width: 200px; /* Largura inicial */
}

.pesquisa-superior:hover {
    width: 300px; /* Largura ao passar o mouse */
}

.midias-sociais a {
    text-decoration: unset;
}

/* body {
    min-height: 100vh;
} */

.footer-center {
    position: absolute;
    display: inline-block;
    right: 0;
    left: 0;
}

.footer-left, .footer-right {
    z-index: 1;
}

.gb-link {
    color:#0000FF;
    text-decoration: none;
    padding: 0 5px 0 5px;
}

.gb-link:hover {
    background-color: rgba(32, 87, 208, 0.1);
    text-decoration: none;
    
    border-radius: 25px;
}

.minimum-height {
    min-height: 100vh;
}

.avoid-navbar {
    margin-top: 10vh;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

@media (max-width: 768px) {
    .offcanvas.offcanvas-end {
        width: 100%;
    }
}

@media (max-width: 991px) {

    .footer-center {
        position: relative;
        display: inline-block;
        right: auto;
        left: auto;
        margin: 5px 0 10px 0;
    }

}